


.mat-card-header{
    width: 100%;
    background: rgba(1,87,155,0.5);
    padding: 5px;
    color:black;
    text-align: center;
    font-size: 14px;
    /*border-width:2px;
    border-color: rgb(1,87,155);
    border-style: solid;*/
    border-radius: 2%;
    
}

mat-card-content{
/*padding: 0px;*/

}

mat-card{
padding:0;
}