<app-navbar></app-navbar>
<div class="space">

</div>
<div fxLayout="column" fxLayoutAlign="center center">
    <h3>¡Gracias por ser beta tester!</h3>
    <div fxLayout="row" fxLayoutAlign="center center">
        Ariel&nbsp;<b>Nowik</b>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        Malena&nbsp;<b>Müller</b>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        Juan&nbsp;<b>Lezama</b>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        Joaquín&nbsp;<b>Mestanza</b>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        Lucas&nbsp;<b>Kammann</b>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        Patricio&nbsp;<b>Whittingslow</b>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        Nicolás&nbsp;<b>Birsa</b>
    </div>
    <br>
    <button mat-raised-button (click)="done()"  color="primary" style="background-color: #01579b ">
        Probar denuevo
    </button>
</div>