<app-navbar></app-navbar>
<div class="space">

</div>
<h3 class="testerthanks">¡Gracias por ser beta tester!</h3><br>
        
      
      <h5 class="equipo"><b>El Equipo</b></h5>
      
      <div class="grid-container" >
        <div class="grid-profile">
          
          <div class="grid-item"> 
            <img src="../../assets/img/redondo.png" width=80  height=80>                
          </div>

          <div class="grid-item">
            <p><b>Juan Ignacio Lezama</b><br>
            Ing. Industrial
            jualezama@itba.edu.ar   
            </p>                        
          
          </div>

          <div class="grid-item"> 
            <a href="http://linkedin.com/in/juanilezama" class= "button" > 
              <img src="../../assets/img/linkedin-icon.svg" width=20  height=20>       
            </a>
          </div>

        </div>
        <div class="grid-profile">
          
          <div class="grid-item"> 
            <img src="../../assets/img/ari.png" width=80  height=80>                
          </div>

          <div class="grid-item">
            <p><b>Ariel Nowik</b><br>
            Ing. Electrónica
            anowik@itba.edu.ar   
            </p>                        
          
          </div>

          <div class="grid-item"> 
            <a href="http://linkedin.com/in/ariel-nowik-13608a158" class= "button" > 
              <img src="../../assets/img/linkedin-icon.svg" width=20  height=20>       
            </a>
          </div>

        </div>
        
        <div class="grid-profile">
          
          <div class="grid-item"> 
            <img src="../../assets/img/male.png" width=80  height=80>                
          </div>

          <div class="grid-item">
            <p><b>Malena Müller</b><br>
            Ing. Electrónica
            mmuller@itba.edu.ar   
            </p>                        
          
          </div>

          <div class="grid-item"> 
            <a href="http://linkedin.com/in/patricio-whittingslow-3b9564140" class= "button" > 
              <img src="../../assets/img/linkedin-icon.svg" width=20  height=20>       
            </a>
          </div>

        </div>

        <div class="grid-profile">
          
          <div class="grid-item"> 
            <img src="../../assets/img/lucas.png" width=80  height=80>                
          </div>

          <div class="grid-item">
            <p><b>Lucas Kammann</b><br>
            Ing. Electrónica
            lkammann@itba.edu.ar   
            </p>                        
          
          </div>

          <div class="grid-item"> 
            <a href="http://linkedin.com/in/lucas-kammann-90010b157" class= "button" > 
              <img src="../../assets/img/linkedin-icon.svg" width=20  height=20>       
            </a>
          </div>

        </div>



        <div class="grid-profile">
          
          <div class="grid-item"> 
            <img src="../../assets/img/joaco.png" width=80  height=80>                
          </div>

          <div class="grid-item">
            <p><b>Joaquín Mestanza</b><br>
            Ing. Electrónica
            jmestanza@itba.edu.ar   
            </p>                        
          
          </div>

          <div class="grid-item"> 
            <a href="http://linkedin.com/in/joaquín-mestanza-4775b8186" class= "button" > 
              <img src="../../assets/img/linkedin-icon.svg" width=20  height=20>       
            </a>
          </div>

        </div>



        <div class="grid-profile">
          
          <div class="grid-item"> 
            <img src="../../assets/img/pato.png" width=80  height=80>                
          </div>

          <div class="grid-item">
            <p><b>Patricio Whittingslow</b><br>
            Ing. Mecánica
            pwhittingslow@itba.edu.ar   
            </p>                        
          
          </div>

          <div class="grid-item"> 
            <a href="http://linkedin.com/in/patricio-whittingslow-3b9564140" class= "button" > 
              <img src="../../assets/img/linkedin-icon.svg" width=20  height=20>       
            </a>
          </div>

        </div>

        <div class="grid-profile"></div>

        <div class="grid-profile">
          
          <div class="grid-item"> 
            <img src="../../assets/img/nico.png" width=80  height=80>                
          </div>

          <div class="grid-item">
            <p><b>Nicolás Birsa</b><br>
            Ing. Informática
            nbirsa@itba.edu.ar   
            </p>                        
          
          </div>

          <div class="grid-item"> 
            <a href="https://www.linkedin.com/in/nicolás-ezequiel-birsa-63631a1a1/" class= "button" > 
              <img src="../../assets/img/linkedin-icon.svg" width=20  height=20>       
            </a>
          </div>
        </div>                
      </div>
      
      <h3 class="comentarios">Dejanos tu opinión para poder seguir mejorando</h3>
      <div class="comentarios" [formGroup]="formGroup">
        <div>
          <mat-form-field class="half-width">
            <textarea matInput placeholder="Escribí tus comentarios acá" [(ngModel)]='inputVal' [formControl]="feedbackField" required></textarea>
            <mat-error *ngIf="feedbackField.invalid">{{ getErrorMessage(feedbackField) }}</mat-error>
          </mat-form-field>
        </div>
        <button mat-raised-button (click)="done()"  color="primary" style="background-color: #01579b ">
            Enviar comentarios
        </button>
      </div>
      <br>
      