<mat-vertical-stepper labelPosition="bottom" linear="true">
    <mat-step label="Selecciona que materias queres cursar">
      <app-seleccionador-de-materias>
        
      </app-seleccionador-de-materias>
    </mat-step>
    <mat-step label="Seleccciona a cuáles comisiones quisieras ir">
      <app-seleccionador-de-comisiones></app-seleccionador-de-comisiones>
    </mat-step>
    <mat-step label="Configuraciones adicionales">
      Configuraciones adicionales - horarios restringidos
    </mat-step>
    <mat-step label="Ejecutar algoritmo">
      Content 3
    </mat-step>
    <mat-step label="Ajusta tu elección">
      Content 3
    </mat-step>
</mat-vertical-stepper>