<!-- horizotnal stepper -->

<mat-vertical-stepper labelPosition="bottom" linear="true">
    <mat-step label="ELEGIR MATERIAS">
      <app-subject-selector>
      </app-subject-selector>
    </mat-step>
    <mat-step label="ELEGIR COMISIONES">
      <app-commission-selector>
      </app-commission-selector>
    </mat-step>
    <mat-step label="CONFIGURACIONES ADICIONALES">
      <app-configurations>
      </app-configurations>
    </mat-step>
    <mat-step label="POSIBLES HORARIOS">
      <button>Opcion 1</button>
      <button>Opcion 2</button>
      <button>Opcion 3</button>
    </mat-step>
    <mat-step label="AJUSTAR ELECCIÓN">
      Content 3
    </mat-step>
</mat-vertical-stepper>
