<!-- horizotnal stepper -->

<mat-vertical-stepper labelPosition="bottom" linear="true">
    <mat-step label="Selecciona materias">
      <app-subject-selector>

      </app-subject-selector>
    </mat-step>
    <mat-step label="Seleccciona comisiones">
      <app-commission-selector>

      </app-commission-selector>
    </mat-step>
    <mat-step label="Configuraciones adicionales">
      Configuraciones adicionales - horarios restringidos
    </mat-step>
    <mat-step label="Ejecutar algoritmo">
      <button>Opcion 1</button>
      <button>Opcion 2</button>
      <button>Opcion 3</button>
    </mat-step>
    <mat-step label="Ajusta tu elección">
      Content 3
    </mat-step>
</mat-vertical-stepper>
