.space{
  height: 90px;
  width: 100%;
  background-color: #82b1ff;
}
.all{
  background-color: #82b1ff;
}
.text-combinacion{
  height:120px;
}
.error-message-container {
  width: 50%;
  vertical-align: bottom;
  text-align: center;
}
.warning-image {
  background-size: cover;
}
.return-button {
  text-align: center;
}

