
table {
    width: 100%;
}
.add-materia-input{
    min-width: 150px;
    max-width: 500px;
    width: 90%;
}
.mat-columun-priority{
    width: 20px;
} 
.add-codigo-input{
    max-width: 120px;
}
.mat-row:hover {
    background-color: #ffcccc;
}
