<div cdkDropListGroup fxLayout="row">
  <div class="example-container">
    <h2>Comisiones</h2>

      <div
        cdkDropList
        [cdkDropListData]="todo"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo" cdkDrag>
          <app-comission-card [commission]="item"></app-comission-card>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>Elegidas</h2>
      <div
        cdkDropList
        [cdkDropListData]="done"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done" cdkDrag>
          <app-comission-card [commission]="item"></app-comission-card>
        </div>
      </div>
    </div>
</div>
