<div cdkDropListGroup fxLayout="row"> <!-- para compu queda lindo como row en vez de column. Pero para el telefono column-->
  <div class="example-container">
    COMISIONES DISPONIBLES

      <div
        cdkDropList
        [cdkDropListData]="todo"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo" cdkDrag>
          <app-comission-card [commission]="item"></app-comission-card>
        </div>
      </div>
    </div>

    <div class="example-container">
      <!-- <h1>Comisiones elegidas</h1> -->
      Arrastrá aquí para elegir comisiones 
      
      <button type="button" class="spacebutton btn btn-outline-secondary" ngbPopover="Arrastrá las comisiones por arriba de las anteriores. Estas se ordenan de forma decreciente en importancia para mostrar las combinaciones. Si no seleccionás ninguna se mostrarán todas." triggers="mouseenter:mouseleave" >
        ¿Cómo funciona?
      </button>
      
      <div
        cdkDropList
        [cdkDropListData]="done"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done" cdkDrag>
          <app-comission-card [commission]="item"></app-comission-card>
        </div>
      </div>
    </div>

    
</div>
