<div class="wrapper">
  <!--div class="box e" fxLayoutAlign="center center"-->
    <!--mat-card-->
      <div fxLayoutAlign="center center">
        <figure>
          <img src="../../assets/img/loginLogoC.jpg" alt="Login Logo" width=900 height=600>
        </figure>
      </div>
      <div fxLayoutAlign="center center" >
        <button mat-raised-button color="primary" (click)="iniciarSesion()">
          
          
          <div cdkDropListGroup fxLayout="row">

          </div>
          
          <div>Login with Google </div>
          <div>
            <figure>
              <img src="../../assets/img/googleLogo.jpg" alt="Google Logo" width=20 height=20>
            </figure>
          </div>
        </button>
      </div>    
      <div fxLayoutAlign="center center" >
        <br> <br>
        CEITBA 2020
      </div>
    <!--/mat-card-->
  <!--/div-->     
</div>
