<div class="wrapper">
  <div fxLayoutAlign="center center">
    <figure>
      <img src="../../assets/img/loginLogo.jpg" alt="Login Logo" width=300 height=327>
    </figure>
  </div>
  <div fxLayoutAlign="center center" > 
    <button mat-raised-button color="primary" (click)="iniciarSesion()">
      <!--This is a comment
        
        <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <img src="../../assets/img/googleLogo.jpg" alt="Google Logo" width=20 height=20>
        </div>
        <div>
          Acceder con Google
        </div>
      </div>
        . Comments are not displayed in the browser-->
        

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span>

          <img class="center" src="../../assets/img/googleLogo.jpg" alt="Google Logo" width=20 height=20>
        </span>
        &nbsp;
        &nbsp;
        <span class="label" data-analytics-event="clickedLoginWithGmailButton"> 
          Acceder con Google 
        </span>
      </div>
    </button>
  </div>     
</div>
