.mat-card-header{
    width: 100%;
    background: white;
    padding: 5px;
    color:black;
   /* margin-top: 50%;*/
}

mat-card-content{
    padding: 10px;
}

mat-card{
    padding:50px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

img.center {
    display: block;
    margin-left: 0;
    
}


h6 {
    font-size: 40px;

}
.noreg{
    text-align: center;
    margin-bottom:  -50px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 3;
    line-height: 100%;
    color: red;
}