<div cdkDropListGroup fxLayout="column">

    <div class="example-container">
        <div
            cdkDropList
            [cdkDropListData]="subjects"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of subjects" cdkDrag>
            <!--app-subject-card [commission]="item"></!--app-subject-card-->
            <app-subject-card [subject]="item"></app-subject-card>
            </div>
        </div>
    </div>

    <div class="example-container2">
        <div
            cdkDropList
            [cdkDropListData]="done"
            class="example-list2"
            (cdkDropListDropped)="drop($event)">

              <app-trash-card >
                  
              </app-trash-card>
        </div>
    </div>

</div>

    












