<!--div div fxLayout="column"-->

<mat-grid-list class="mat-card-header" cols="3" rowHeight="2:1">
    <mat-grid-tile> <h1>{{commission.name}}</h1> </mat-grid-tile>
    <mat-grid-tile>
        <div>
            <div *ngFor="let timeblock of commission.schedule">
                {{timeblock.day}} {{timeblock.start.hours}}:{{timeblock.start.minutes}}-{{timeblock.end.hours}}:{{timeblock.end.minutes}}
            </div>
          </div>
    </mat-grid-tile>
    <mat-grid-tile>profesores</mat-grid-tile>
</mat-grid-list>



