


.mat-card-header{
    width: 100%;
    background: white;
    padding: 5px;
    color:black;
    text-align: center;
    font-size: 14px;
}

mat-card-content{
/*padding: 0px;*/

}

mat-card{
padding:0;
}