
<mat-card>
    <div>
      <app-checkbox-item name="Permitir superposición de horarios.">
      </app-checkbox-item>
      <app-checkbox-item name="Tener un día libre.">
      </app-checkbox-item>
      <app-checkbox-item name="Evitar cambios de sede en un mismo día.">
      </app-checkbox-item>
      <app-checkbox-item name="Considerar tiempo de viaje entre dos materias en distintas sedes.">
      </app-checkbox-item>
      agregar acá el calendario para pintar horarios que queres libres.
    </div>
</mat-card>


