<mat-accordion fxFlex="0 1 100" fxLayout="column">
  <mat-expansion-panel *ngFor="let materia of subjects | async" class="example-card">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{materia.name}} - {{materia.code}}
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-drag-commissions [preSelectedCommissions]="getSelectedCommissions(materia)" [commissions]="materia.commissions" (setCommissionData)="setCommissionData(materia, $event)" (onDestroy)="removeCommissionData(materia)">
    </app-drag-commissions>
  </mat-expansion-panel>
</mat-accordion>
