
<div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayoutAlign="center center" fxLayout="row" class="example-list-top">
        <div fxLayoutAlign="center center" *ngFor="let option of options; index as i" class="example-box-top">
            Opción {{optionNames[i]}}
        </div>
    </div>
    <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
        <div fxLayoutAlign="center center" class="example-box" *ngFor="let option of options; index as i" cdkDrag>
            <button class="button-option" mat-button (click)="selectOption(i)">Opción {{option}}</button>
        </div>
    </div>
    <mat-divider>
    </mat-divider>
    <br>
    <div fxLayoutAlign="center center">
        <h5>Ajustando <b>Opción {{options[this.selectedOption | async]}}</b></h5>
    </div>

    <br>
    <div *ngIf="subjects">
        
        <app-calendar [areSubjectsShown]="true" [style.font-size.em]="0.78" [subjectsComissions]="subjects">
        </app-calendar>
    </div>
    <div *ngIf="!subjects">
        <app-calendar [areSubjectsShown]="true" [style.font-size.em]="0.78">
        </app-calendar>
    </div>
    <br>

    <app-subject-commission-config #subjectCommissionConfig (selectedSubject)="changeSelectedSubject($event)" (subjectChanged)="subjectChanged($event)" [subjectCommissionsInput]="subjects">

    </app-subject-commission-config>
    <br>
    <button (click)="resetSubjects()" mat-button>Reestablecer horarios originales</button>

</div>
    <!---->
    
