<div class="calendar">
  <div class="days">
    <div class="day">
  <!--<div class="blank-space" *ngFor="let i of [a]">-->
    <!-- This leaves a blank space at the start of the first column -->
    <div class="hour-name" fxLayoutAlign="center center">
      <h2>#</h2>
    </div>

    <div 
      class="subject-hour" 
      fxLayoutAlign="center center" 
      *ngFor="let hour of hours; 
      let i = index" 
      [style.font]="bold" >
      <div class="hourText">{{ hour }}</div>
    </div>
  </div>
  
  
    <div class="day" *ngFor="let day of days; let i = index">
      <div class="day-name" fxLayoutAlign="center center"><h2>{{ day }}</h2></div>
      <div *ngFor="let hour of hours">
        <div class="subject" fxLayoutAlign="center center" *ngFor="let subject of mySubjectsObs[(day +' '+ hour)] | async" [style.background-color]="subject.color">
          <div *ngIf="subject.name != ''">
            {{ subject.name }} <br> Comisión {{ subject.commissionName }}
          </div>
        </div>
        <!--<div class="subject" fxLayoutAlign="center center" *ngFor="let subject of subjectsOfDay[i] | async" [style.background-color]="subject.color" [style.width.px]="subject.width">
          por cada subject del día
          <div *ngIf="subject.name != ''">
            {{ subject.name }} <br> Comisión {{ subject.commissionName }}
          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>
 <!-- <div class="lateral-bar">
    <h1>Materias</h1>
    <div class="subject-list" *ngFor="let subj of subjectList"> 
      <h3>
        {{ subj.subject.name }}
      </h3>
      <mat-checkbox class="selected-comission" [(ngModel)]="subj.checked">
        {{ subj.subject.commissionName }}
      </mat-checkbox>
      <button class="img-container" mat-button-toggle (click)="deleteComissionFromList(subj.subject)"><img class="delete" src="/assets/img/delete-icon.svg"></button>
    </div>
    <mat-form-field class="subject-chooser">
      <input type="text" [disabled]="subjectChooserDisabled" placeholder="Agregar materia" matInput [matAutocomplete]="auto" (input)="onSubjectChooserChange($event)" [(ngModel)]="subjectChooserValue">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="subjectSelected($event)">
          <mat-option *ngFor="let option of filteredOptions" [value]="option">
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>
  </div>
</div>-->
    <!-- Switch subjectList with selectedSchedule here to see its behaviour when adding/removing subjects -->
    <!--
      <mat-icon svgIcon="delete" aria-hidden="false">delete</mat-icon>
      <div class="lateral-bar"> 
  </div>
    <div class="subject-list" *ngFor="let subject of subjectList"> 
      {{ subject.name }}
      <mat-checkbox class="selected-comission" [(ngModel)]="subject.checked" (change)="switchSubjectState(subject)">
        {{ subject.commissionName }}
      </mat-checkbox>
    </div>
    -->
    <!--
    <mat-form-field class="subject-chooser">
      <input type="text" placeholder="Agregar materia" matInput [matAutocomplete]="auto" (input)="onSubjectChooserChange($event)" [(ngModel)]="subjectChooserValue">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="subjectSelected($event)">
        <mat-option *ngFor="let option of filteredOptions" [value]="option">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
        <div class="subject-chooser">
      <mat-form-field>
        <input type="text" placeholder="Agregar materia" matInput [matAutocomplete]="auto" (input)="onSubjectChooserChange($event)" [(ngModel)]="subjectChooserValue">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="subjectSelected($event)">
            <mat-option *ngFor="let option of filteredOptions" [value]="option">
              {{ option.name }}
            </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    -->