<div class="calendar">
  <div class="days">
    <div class="day">
  <!--<div class="blank-space" *ngFor="let i of [a]">-->
    <!-- This leaves a blank space at the start of the first column -->
    <div class="hour-name" fxLayoutAlign="center center">
      <h2>#</h2>
    </div>

    <div
      class="subject-hour"
      fxLayoutAlign="center center"
      *ngFor="let hour of hoursInteger;
      let i = index">
      <div class="hourText">{{ hour }} - {{nextHoursInteger[i]}}</div>
    </div>
  </div>

  <!-- absolute https://dzone.com/articles/css-position-relative-vs-position-absolute -->
  <div class="day" *ngFor="let day of days; let i = index">
    <div class="day-name" fxLayoutAlign="center center">
      <h4>{{ day }}</h4>
    </div>
     <div class="timeblockArea">
      <div class="subject" *ngFor="let hour of this.hoursInteger" fxLayoutAlign="center center">
      </div>

      <div *ngFor="let subject of this.subjectsOfDay[day]">
        <div class="subjectRelative" fxLayoutAlign="center center" [style.background-color]="subject.color" [style.height.px]="subject.height" [style.top.px] = "subject.startPos">
          {{subject.name }} <br> Comisión {{ subject.commissionName }}
        </div>
      </div>
    </div>
      <!--
      <div *ngFor="let hour of this.hours">
      <div *ngIf="isSubjectsOfDay(day, hour)">
        <div class="subject" fxLayoutAlign="center center" [style.background-color]="subjectsOfDay[day][hour].color" [style.height.px]="subjectsOfDay[day][hour].height">
          {{subjectsOfDay[day][hour].name }} <br> Comisión {{ subjectsOfDay[day][hour].commissionName }}
        </div>
      </div>
    </div>-->
    <div *ngIf="isLoading">
      <mat-spinner class="loadingIcon"></mat-spinner>
    </div>
  </div>
</div>
 <!-- <div class="lateral-bar">
    <h1>Materias</h1>
    <div class="subject-list" *ngFor="let subj of subjectList">
      <h3>
        {{ subj.subject.name }}
      </h3>
      <mat-checkbox class="selected-comission" [(ngModel)]="subj.checked">
        {{ subj.subject.commissionName }}
      </mat-checkbox>
      <button class="img-container" mat-button-toggle (click)="deleteComissionFromList(subj.subject)"><img class="delete" src="/assets/img/delete-icon.svg"></button>
    </div>
    <mat-form-field class="subject-chooser">
      <input type="text" [disabled]="subjectChooserDisabled" placeholder="Agregar materia" matInput [matAutocomplete]="auto" (input)="onSubjectChooserChange($event)" [(ngModel)]="subjectChooserValue">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="subjectSelected($event)">
          <mat-option *ngFor="let option of filteredOptions" [value]="option">
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>
  </div>
</div>-->
    <!-- Switch subjectList with selectedSchedule here to see its behaviour when adding/removing subjects -->
    <!--
      <mat-icon svgIcon="delete" aria-hidden="false">delete</mat-icon>
      <div class="lateral-bar">
  </div>
    <div class="subject-list" *ngFor="let subject of subjectList">
      {{ subject.name }}
      <mat-checkbox class="selected-comission" [(ngModel)]="subject.checked" (change)="switchSubjectState(subject)">
        {{ subject.commissionName }}
      </mat-checkbox>
    </div>
    -->
    <!--
    <mat-form-field class="subject-chooser">
      <input type="text" placeholder="Agregar materia" matInput [matAutocomplete]="auto" (input)="onSubjectChooserChange($event)" [(ngModel)]="subjectChooserValue">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="subjectSelected($event)">
        <mat-option *ngFor="let option of filteredOptions" [value]="option">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
        <div class="subject-chooser">
      <mat-form-field>
        <input type="text" placeholder="Agregar materia" matInput [matAutocomplete]="auto" (input)="onSubjectChooserChange($event)" [(ngModel)]="subjectChooserValue">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="subjectSelected($event)">
            <mat-option *ngFor="let option of filteredOptions" [value]="option">
              {{ option.name }}
            </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    -->
