<ngb-carousel  [activeId]="startCommission" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators" #carousel wrap="true" interval="false">
  <ng-template ngbSlide *ngFor="let commission of commissions; index as i" [id]="commission.name">
    <div class="carousel-caption" fxLayout="row" fxLayoutAlign="center center">
    </div>

    <div class="picsum-img-wrapper">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div>
          <button class="buttonCard" mat-button (click)="prevCommission()" mat-icon-button aria-label="Example icon-button with a heart icon">
            <mat-icon>navigate_before</mat-icon>
          </button>
        </div>
        <div fxFlex="80">
          <app-comission-card class="commissionCard"  [commission]="commissions[i]">

          </app-comission-card>
        </div>
        <div >
          <button class="buttonCard" mat-button (click)="nextCommission()" mat-icon-button aria-label="Example icon-button with a heart icon">
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div >
      </div>
    </div>
  </ng-template>
</ngb-carousel>