<!-- https://mdbootstrap.com/docs/angular/advanced/carousel/#multi-item-carousel -->  

<mdb-card>
  <!--Card image-->
  <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
  <!--Card content-->
  <mdb-card-body>

    <!--Title-->
    <mdb-card-title>
      <h4>Card Title</h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
      content.
    </mdb-card-text>

    <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
  </mdb-card-body>
</mdb-card>